<div class="container is-max-desktop pt-4">
  <div class="columns">
    <div class="column">
      <p class="is-size-4 pb-1">Site Pages</p>
      <ul>
        <li><a class="has-text-light" href="/">Home</a></li>
        {% for service in collections.services | sortedCollection() %}
        <li>
          <a class="has-text-light" href="{{ service.url }}">
          {{ service.data.shortName }}
          </a>
        </li>
        {% endfor %}
        <li><a class="has-text-light" href="/about">About</a></li>
        <li><a class="has-text-light" href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="column">
      <p class="is-size-4 pb-1">Service Areas</p>
      <ul>
        {% for area in site.secondaryLocations %}
        <li>{{ area }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="column is-half">
      <div class="image is-3by2">
        {{ site.mapEmbed | safe }}
      </div>
    </div>
  </div>
</div>

<div class="container is-max-desktop pt-6 pb-3">
  <p>&copy; {% year %} {{ site.siteName }}, all rights reserved.</p>
  <p class="is-size-7 pt-2">
    <a class="has-text-light" href="/privacy-policy">Privacy Policy</a> |
    <a class="has-text-light" href="/terms">Terms & Conditions</a>
  </p>
</div>