
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if site.env == "prod" %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.tracking.ga4 }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.tracking.ga4 }}');
  gtag('config', '{{ site.tracking.gads }}');
  {% if title == 'Thank You' %}gtag('event', 'conversion', {'send_to': '{{ site.tracking.gads }}/{{ site.tracking.gadsConversion }}'});{% endif %}
</script>
{% endif %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="{{ '/static/css/style.css' | url }}">

{% if noindex %}
<meta name=”robots” content=”noindex, follow”>
{% endif %}

{% metagen
  title=title or metadata.title,
  desc=description or metadata.description,
  url=url + page.url,
  name=site.authorName
%}

<title>{{ title }}</title>

